<!doctype html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name='viewport' content='width=device-width,minimum-scale=1.0 maximum-scale=1.0 user-scalable=no' />
    <title>提示</title>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <style type="text/css">

    </style>
</head>
<body>
<div>
    <p style="text-align: center">该用户未登录授权小程序</p>
    <p>请引导用户前往小程序->个人中心(登录并授权用户信息)</p>
</div>


</body>
<script src="/public/admin/js/jquery-1.8.0.min.js"></script>
<script src="/public/static/js/common.js"></script>
<script type="text/javascript">

</script>
